{% set collection = collection|default(page.collection) %}
<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
    <channel>
        <title>{{ page.title }}</title>
        <link>{{ uri.rootUrl(true) }}{{ uri.route() }}</link>
        <description>{{ collection.params.description }}</description>
        <language>{{ collection.params.lang }}</language>
        <atom:link href="{{ uri.url(true) }}" rel="self" type="application/rss+xml"/>
        {% for item in collection %}
        {% set banner = item.assets.images|first %}
        <item>
            <title>{{ item.title }}</title>
            <link>{{ item.url(true) }}</link>
            <description>
                {% if banner %}
                {{ banner.cropZoom(600,400).html|e }}
                {% endif %}
                {{ item.content|truncate(collection.params.length)|e }}
            </description>
            <category>{{ item.taxonomy.tag|join(',') }}</category>
            <guid>{{ item.url(true) }}</guid>
            <pubDate>{{ item.date|date('D, d M Y H:i:s O') }}</pubDate>
        </item>
        {% endfor %}
    </channel>
</rss>
