{% if pagination|length > 1 %}

<ul class="pagination">
    {% if pagination.hasPrev %}
        <li><a href="{{ base_url }}{{ pagination.prev_url }}">&laquo;</a></li>
    {% else %}
        <li><span>&laquo;</span></li>
    {% endif %}

    {% for paginate in pagination %}

        {% if paginate.isCurrent %}
            <li><span>{{ paginate.number }}</span></li>
        {% else %}
            <li><a href="{{ base_url }}{{ paginate.url }}">{{ paginate.number }}</a></li>
        {% endif %}

    {% endfor %}
    {% if pagination.hasNext %}
        <li><a href="{{ base_url }}{{ pagination.next_url }}">&raquo;</a></li>
    {% else %}
        <li><span>&raquo;</span></li>
    {% endif %}
</ul>

{% endif %}
